.root {
     //-fx-background-image: url("background.jpg");
     //-fx-background-color: FFFACA;
     -fx-background-color: rgb(3, 93, 124);
}

.label {
    -fx-font-size: 18;
    -fx-font-family: "Trebuchet MS";
}

.answer {
    -fx-font-size: 12;
    -fx-font-family: "Verdana";
}

.answersPane {
    -fx-border-insets: 10;
}
